<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type="text/css"
    href="{{ url_for('static', filename='survey.css') }}">
    <title>survey</title>
    <body>
    <h1 class="head">Dojo survey</h1>
    <form class="form"  action="/process" method="post">
        <div class="body">
            <label  class="input"  for="name">Name:</label>
            <input type="text" name="name" />
        </div>
        <div class="body">
            <label  class="input" for="Dojo location">Dojo location</label>
             <select name="location" label="Dojo location">
                <option value="seattle">Seattle</option>
                <option value="online">Online</option>
                <option value="Bellevue">Bellevue</option>
                 <option value="Chicago">Chicago</option>
             </select>
        </div>
        <div class="body">
            <label  class="input" for="favouraite language">favouraite language</label>
            <select name="language"  >
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
                 <option value="HTML">HTML</option>
            </select>
        </div>
        <div class="comment">
           <label for="comment" class="input">comment</label>
           <textarea name='comment'  id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div>
            <input  class="button" type="submit" value="Submit">
        </div>
    </form>
  </head>
  </body>
</html>
